{% extends "layout_admin.njk" %}

{% block head %}

  <title>{{recipe.title}}</title>

{% endblock %}

{% block content %}

  <section class=".product-single container" id="recipes-admin">
    <div class="recipe-title">
      <p>Receita: {{recipe.title}}</p>

      <span>
        <a href="/admin/recipe/edit/{{recipe.id}}">Editar receita</a>
      </span>
    </div>

    <!-- ANTIGA FORMA DE BUSCAR FOTOS
    <div class="card-admin">
      <div class="card-image-admin">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.image}}">
      </div>
    </div>
    -->
    <div class="gallery">
      <div class="highlight">
        {% if not files[0] %}
          <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="image">
        {% else %}
          <img 
        src="{{files[0].src}}" 
        alt="{{files[0].name}}"
        onclick="Lightbox.open()"
        >
        {% endif %}
        <div class="lightbox-target">
          <img src="{{files[0].src}}" alt="{{files[0].name}}">
          <a href="#" 
            class="lightbox-close"
            onclick="Lightbox.close()">
            <i class="material-icons">close</i>
          </a>
        </div>

      </div>
      <div class="gallery-preview">
        {% for image in files %}
          <img 
                src="{{image.src}}" 
                alt="{{image.name}}"
                {% if loop.index0 == 0 %}
                class="active"
                {% endif %}
                onclick="ImageGallery.setImage(event)"
            >
        {% endfor %}
      </div>
    </div>

    <div class="card-title">
      <h2>{{recipe.title}}</h2>
    </div>
    <div class="card-author">
      <p>por {{recipe.chef_name}}</p>
    </div>

    <div id="ingredients" class="topic">
      <div>
        <h2>Ingredientes</h2>
        <!--<span>ESCONDER</span>-->
      </div>
      <div class="topic-content">
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}};</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="preparation" class="topic">
      <div>
        <h2>Modo de Preparo</h2>
        <!--<span>MOSTRAR</span>-->
      </div>

      <div class="topic-content">
        <ul>
          {% for preparation in recipe.preparation %}
            <li>{{preparation}};</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="information" class="topic">
      <div>
        <h2>Informações adicionais</h2>
        <!--<span>ESCONDER</span>-->
      </div>

      <div class="topic-content">
        <p>{{recipe.information}}</p>
      </div>
    </div>
  </section>

{% endblock %}