{% extends "layout_admin.njk" %}

{% block content %}


  <section id="featured-admin">
    <section class="admin-show-title">
      <h2>Gerenciar chefs</h2><span><a class="admin-button" href="/admin/chef/create">Adicionar</a></span>
    </section>
    
    <div class="cards-admin">
    {% for chef in chefs %}
      <div class="card-admin" id="{{ chef.id }}">
        <img src="{{ chef.avatar_url }}" alt="Imagem de {{chef.avatar_url}}">
        <div class="admin-recipe-details">
          <p class="chef-name-admin">{{ chef.name }}</p>
          <a href="/admin/chef/{{ chef.id }}">Visualizar</a>
        </div>
      </div>


    {% endfor %}
    
    </div>
  </section>

{% endblock %}