{% extends "layout.njk" %}

{% block head %}
    
  <title>Receitas</title>
    
{% endblock %}

{% block content %}

  <section id="recipes">
    <div class="cards">

    {% for recipe in recipes %}

      <div class="card" id="{{ recipe.id }}">
        <div class="card-image">
          <img src="{{recipe.image}}" alt="Imagem de {{recipe.image}}">
        </div>
        <div class="card-title">
          <p>{{recipe.title}}</p>
        </div>
        <div class="card-author">
          <p>{{recipe.chef_name}}</p>
        </div>
      </div>

    {% endfor %}

    </div>
  </section>

  

{% endblock %}